.floater {
  float: right;
  padding: 5px;
}
.sidebar {
  background-color: #ffff66;
  float:left;
  width:20%;
  border: 2px solid blue;
  margin: 12px;
  padding: 2px;
}
h1 {
  text-align: center;
  background-color: #0000ff;
  color: white;
  text-shadow: 2px 2px black;
}
